<div class="signup-panel" [ngClass]="{'open': isSignupOpen}">
    <div class="signup-content">
      <button class="close-signup" (click)="onBackToLogin()">←</button>
      <h2 style="text-align: center;">Signup</h2>

  
      <!-- Success message -->
      <div *ngIf="isSignupSuccessful" class="success-message">
        <strong>{{ successMessage }}</strong>
      </div>
  
      <!-- Form (hidden if signup is successful) -->
      <form *ngIf="!isSignupSuccessful" (ngSubmit)="onSignup()">
        <div class="form-group">
          <label for="signup-nom">Nom:</label>
          <input type="text" id="signup-nom" [(ngModel)]="nom" name="nom" required>
          <div *ngIf="errors.nom" class="error-message">{{ errors.nom }}</div>
        </div>
        <div class="form-group">
          <label for="signup-prenom">Prenom:</label>
          <input type="text" id="signup-prenom" [(ngModel)]="prenom" name="prenom" required>
          <div *ngIf="errors.prenom" class="error-message">{{ errors.prenom }}</div>
        </div>
        <div class="form-group">
          <label for="signup-email">Email:</label>
          <input type="email" id="signup-email" [(ngModel)]="email" name="email" required>
          <div *ngIf="errors.email" class="error-message">{{ errors.email }}</div>
        </div>
        <div class="form-group">
          <label for="signup-password">Password:</label>
          <input type="password" id="signup-password" [(ngModel)]="password" name="password" required>
          <div *ngIf="errors.password" class="error-message">{{ errors.password }}</div>
        </div>
        <div class="form-group">
          <label for="signup-naissance">Date de naissance:</label>
          <input type="date" id="signup-naissance" [(ngModel)]="naissance" name="naissance" required>
          <div *ngIf="errors.naissance" class="error-message">{{ errors.naissance }}</div>
        </div>
        <div class="form-group">
          <label for="signup-phone">Phone number:</label>
          <input type="phone" id="signup-phone" [(ngModel)]="phone" name="phone" required>
          <div *ngIf="errors.phone" class="error-message">{{ errors.phone }}</div>
        </div>
        <br><br>
        <button type="submit" class="btn-signup">Signup</button>
      </form>
    </div>
  </div>